* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

body {
    max-width: 1440px;
}

main {
    padding: 50px 135px 0px;
}

header {
    padding: 50px 135px 0px;
}



/* Shared  */
.btn-primary {
    color: #FFF;
    border: 0px;
    padding: .8rem 1.8rem;
    font-size: 0.8rem;
    font-weight: 700;
    width: 9.6rem;
    height: 2.8rem;
    border-radius: .48rem;
    background: #FF5400;
}

.title-primary {
    color: #131318;
    font-size: 2.22rem;
    font-weight: 800;
}

.title-logo h2 {
    color: #131318;
    font-size: 1.78rem;
    font-weight: 800;
}

.title-color {
    color: #FF5400;
    font-size: 1.78rem;
    font-weight: 800;
}


.p-primary {
    color: rgba(19, 19, 24, 0.70);
    font-size: .9rem;
    font-weight: 400;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.image-container {
    display: flex;
    gap: 1.5rem;
    flex: 1;
}

.title-logo {
    display: flex;
    align-items: center;
}



/* Shared ends */
/* Nav */

.mobile-menu {
    display: none;
    width: 24px;
    height: 24px;
}

.mobile-menu img {
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin-left: 2rem;
}


nav a {
    text-decoration: none;
    color: #424247;
    font-size: 1rem;
    font-weight: 400;
}

.nav a>.home {
    text-decoration: none;
    color: #FF5400;
    font-size: 1rem;
    font-weight: 700;
}

/*Banner  */

.banner {
    text-align: center;
    padding: 6rem 10.27rem;
    margin: 3rem 0;
    border-radius: .9rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
}

.banner-title {
    color: #FFF;
    font-size: 3.55rem;
    font-weight: 800;
}

.banner p {
    margin: 1.33rem 0 2.67rem;
    color: #FFF;
    font-size: .9rem;
    font-weight: 400;
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;

}
/* .banner button >div{
    width: 100%;
    border: solid 2px sandybrown;
    
} */

.input-field {
    border-radius: .48rem;
    background: rgba(255, 255, 255, 0.30);
    padding: .8rem;
    display: flex;
    align-items: center;
}

header>div input,
select {
    padding: .7rem 1.5rem;
    border-radius: .3rem;
    border: 0;
    margin-right: 1.5rem;
}

.placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-size: .9rem;
    font-weight: 400;
}

/* section -1 */
.section-1 {
    display: flex;
    margin-top: 6.22rem;
    gap: 3.25rem;
}

.section-1-p {
    color: #5A5A5D;
    font-size: .9rem;
    font-weight: 400;
}

.section-1-1 {
    margin-top: 1.8rem;
}

/* image section */

.section-2 {
    text-align: center;
    margin: 6.22rem 0;
}

.section-2 p,
.section-3-01 p {
    margin: 1.5rem 0 3rem;
    max-width: 35rem;
    padding: 0 20rem;
}

/* .image-1 {
    position: relative;
} */

.imagename {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: relative;
    top: -10rem;
}

/* .picture-article{
    max-width: 35rem;
    margin: 1.5rem 0 3rem;
} */

/* section - 3 */
.service-card {
    max-width: 31.8rem;
    border-radius: .9rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 1.78rem 3rem 1.78rem 1.78rem;
}

.service-des-title {
    color: #131318;
    font-size: 1.33rem;
    font-weight: 800;
}

.section-3 {
    text-align: center;
}

.section-3-1 {
    display: flex;
    gap: 1.33rem;
    margin-bottom: 1.33rem;
}

.section-3-2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6.22rem;
}

/* section 4 */

.section-4 {
    display: flex;
    gap: 1.33rem;
    margin-bottom: 5.5rem;
}

.section-4-1 {
    padding: 2.2rem;
    border-radius: .9rem;
    border: 1px solid #FF5400;
}

.section-4-1 input {
    border: 0;
    padding: 0.9rem 1.1rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 1.33rem;
    width: 80%;
}

.section-4-1 button {
    width: 90%;
}

.rotate-class-div {
    position: relative;
}

.rotate-class {
    width: 18rem;
    height: 6.67rem;
    transform: rotate(-19.628deg);
    border-radius: .9rem;
    background: #FF5400;
    position: absolute;
    right: .4rem;
    top: 17rem;
}

.rotate-class h3 {
    color: #FFF;
    font-size: 1.33rem;
    font-weight: 400;
}

.rotate-class h4 {
    color: #FFF;
    font-size: 1.78rem;
    font-weight: 800;
}


/* footer Starts here */
footer {
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 6.1rem 18.6rem;
    margin: 0;
}

.footer-1 {
    text-align: center;
}

.footer-logo {
    display: flex;
    justify-content: space-evenly;
}

.title-logo h2 {
    color: #131318;
    font-size: 1.6rem;
    font-weight: 800;
}

.footer-logo div {
    display: flex;
    align-items: center;
}

.social img {
    margin-left: 3rem;
}

hr {
    margin: 2.78rem 0;
    background: rgba(19, 19, 24, 0.10);
}

.footer-1 p {
    margin-top: .8rem;
    margin-bottom: 1.83rem;
}




@media screen and (max-width: 600px) {
    root: {
        font-size: 16px;
    }

    body {
        max-width: auto;

    }

    header {
        padding: 10px 20px 0px;
        margin: 0px;
    }

    .mobile-menu {
        display: block;
        position: relative;
        left: 170px;
    }
    

    .dropdown {
        display: none;
        position: absolute;
        right: 10px;
        background-color: #ff550093;
    }

    .mobile-menu:hover .dropdown {
        display: block;

    }

    .p-primary {
        color: rgba(19, 19, 24, 0.70);
        font-size: .9rem;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    main {
        padding: 10px 20px 0px;
        margin: 0px;
    }

    .banner-title {
        font-size: 1.3rem;
        font-weight: 800;
    }

    .title-primary {
        color: #131318;
        font-size: 1.2rem;
        font-weight: 800;
    }

    .title-color {
        color: #FF5400;
        font-size: 1.2rem;
        font-weight: 800;
    }

    .input-field {
        flex-direction: column;
        padding: 0.9rem;
        margin: 1.33rem;
    }
    

    .input {
        width: 340px;
        margin: .65rem;
        padding: .8rem 1rem;

    }
    .input-field input[type="text"] {
        width: 310px;
    }
    

    .banner {
        padding: 28px 24px;
    }

    /* section -1 */
    .section-1 {
        flex-direction: column;
        margin-top: 0rem;
    }

    .section-1-p {
        color: #5A5A5D;
        font-size: .8rem;
        font-weight: 400;
    }

    .section-1-1 {
        margin-top: .5rem;
    }

    /* section-2 */
    .section-2 {
        text-align: center;
        margin: 2.6rem 0;
    }

    .section-2 p,
    .section-3-01 p {
        margin: 1.5rem 0 3rem;
        max-width: 35rem;
        padding: 0 2rem;
    }

    .image-container {
        flex-direction: column;
        gap: .8rem;


    }

    .image-container img {
        max-width: 100%;
        height: auto;
    }

    /* .image-1 {
    position: relative;
} */

    .imagename {
        color: #FFF;
        font-size: 28px;
        font-weight: 800;
        position: relative;
        top: -10rem;
    }

    /* .picture-article{
    max-width: 35rem;
    margin: 1.5rem 0 3rem;
} */
.service-card {
    max-width: 31.8rem;
    border-radius: .9rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 1.78rem 3rem 1.78rem 1.78rem;
}

.section-3-1 {
    flex-direction: column;
}

.section-4 {
    flex-direction: column;
}

footer {
    padding: 33px 44px;
}

}


